.footer  {
	width: 100%;
	height: 40px;
	line-height: 40px;
	position: fixed;
	bottom: 0;
	z-index: 11;
	background: $color-sjc-red;
	transition: 300ms height ease-in;

	&:hover {
		height: 80px;
	}
}

.footer .container {
	padding: 0;
	background: $color-sjc-red;
	text-align: center;
	font-size: 2.2rem;
	color: $color-white; 
	a { 
		color: $color-white; 
		text-decoration: none;
	}
}