body {
  background: linear-gradient(90deg, 
  	#6d6e70 0%, 
  	#7A7A7A 50%, 
  	#6d6e70 100%);
  font-size: 1.5rem;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

h1, h2, h3, h4, h5 {
  color: $color-sjc-red;
}

h2 {
	margin-top: 2rem;
}

svg {
  fill: $color-sjc-red;
}

.button, button {
	border-width: 3px;
	border-color: transparent;
	background: $color-sjc-red;
	color: $color-white;
	transition: all 200ms ease-in;
}

.button:hover, button:hover {
	border-color: $color-sjc-red;
	background: $color-white;
	color: $color-sjc-red;

}

.container {
	padding: 0 30px;
	background: #ffffff;
}

.content .container {
	border-style: dotted;
	border-color: $light-grey;
	border-width: 0px 2px;
	padding-top: 60px;
	padding-bottom: 40px;
}

.container .row img {
	max-width: 100%;
}

a.anchor:before {
  content:"";
  display:block;
  height:110px; /* fixed header height*/
  margin:-110px 0 0; /* negative fixed header height */
}

@media (#{$bp-larger-than-tablet}) {
	a.anchor:before {
	  height:150px; /* fixed header height*/
	  margin:-150px 0 0; /* negative fixed header height */
	}

	.show-for-mobile {
		display: none;
	}
}