body {
  background: $color-white;
  font-size: 1.5rem;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

h1, h2, h3, h4, h5 {
  color: $color-sjc-red;
}

h1 {
	font-weight: bold;
}

h2 {
	margin-top: 2rem;
}

svg {
  fill: $color-sjc-red;
}

.container {
	padding: 0 30px;
	background: #ffffff;
}

.content .container {
	padding-top: 60px;
	padding-bottom: 40px;
}

.container .row img {
	max-width: 100%;
}

a.anchor:before {
  content:"";
  display:block;
  height:110px; /* fixed header height*/
  margin:-110px 0 0; /* negative fixed header height */
}

@media (#{$bp-larger-than-tablet}) {
	a.anchor:before {
	  height:150px; /* fixed header height*/
	  margin:-150px 0 0; /* negative fixed header height */
	}

	.show-for-mobile {
		display: none;
	}
}


@media (#{$bp-larger-than-desktop}) {
	body {
		background: linear-gradient(90deg, 
		#6d6e70 0%, 
		#7A7A7A 50%, 
		#6d6e70 100%);		
	}
	.content .container {
		border-style: dotted;
		border-color: $light-grey;
		border-width: 0px 2px;
	}
}



/* Icon Drop Animation from https://ianlunn.github.io/Hover/ */
@keyframes icon-drop {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  51%,
  100% {
    opacity: 1;
  }
}