body {
  background: $color-white;
  font-size: 1.8rem;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

h1, h2, h3, h4, h5 {
  color: $color-sjc-red;
  margin-bottom: 5rem;
}

p {
	margin-bottom: 5rem;
}

h1 {
	font-weight: bold;
}

h2 {
	margin-top: 2rem;
}

dt {
	font-weight: 600;
}

dd, address	 {
	font-style: normal;
}

svg {
  fill: $color-sjc-red;
}

.container {
	padding: 0 30px;
	background: #ffffff;
}

.content .container {
	padding-top: 80px;
	padding-bottom: 40px;
}

.container .row img {
	max-width: 100%;
}

@media (#{$bp-larger-than-tablet}) {

	.show-for-mobile {
		display: none;
	}
}


@media (#{$bp-larger-than-desktop}) {
	body {
		background: linear-gradient(90deg, 
		#6d6e70 0%, 
		#7A7A7A 50%, 
		#6d6e70 100%);		
	}
	.content .container {
		border-style: dotted;
		border-color: $light-grey;
		border-width: 0px 2px;
	}
}



/* Icon Drop Animation from https://ianlunn.github.io/Hover/ */
@keyframes icon-drop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}