/* This stylesheet corresponds to app/templates/partials/header.nunj */

.header {
	// display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 10;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.header--wrapper {
	width: 100%;
	background: #ffffff;
}

.header .container {
	padding: 0 10px;
}

.header--logo svg {
	display: block;
	width: 100px;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 0;
	margin-right: auto;
}

.header--actions {
	float: right;
	height: 40px;
	line-height: 50px;
	margin-top: 5px;
}

.header--actions-link {
	// display: block;
	float: right;
	margin-left: 15px;

	&.button {
		font-size: 1.5rem;
		// line-height: 4.2rem;
		margin: 20px 0 0 0;
	}

	svg {
		vertical-align: middle;
		width: 30px;
		height: 30px;
	}
}

.header--actions-link__desktop {
	display: none;
}

.content {
	padding-top: 50px;
}

@media (#{$bp-larger-than-tablet}) {
	.header {
		height: 140px;
		background: #ffffff;
	}

	.header--logo {
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
		margin-bottom: 15px;
		width: 200px;
		height: 60px;

		svg {
			width: 200px;
			height: 60px;
		}
	}

	.header--actions {
		height: 85px;
		line-height: 90px;
		margin-top: 5px;
	}

	.header--actions-link {
		// line-height: 90px;
		// font-size: 2rem;
		// padding: 0 1rem;
		svg {
			// padding-top: 25px;
			width: 40px;
			height: 40px;
		}
	}

	.header--actions-link__desktop {
		display: inline;
	}

	.header--actions-link__mobile {
		display: none;
	}

	.content {
		padding-top: 140px;
	}
}
