/* This stylesheet corresponds to app/templates/partials/header.nunj */

.header {
	// display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 10;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.header .container {
	padding: 0 10px;
	background: #ffffff;
}

.header--logo svg {
	display: block;
	width: 100px;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 0;
	margin-right: auto;
}

.header--actions-link {
	display: block;
	float: right;
	padding: 9px 10px 0;
	svg {
		width: 30px;
		height: 30px;
	}
}

.header--actions-link__desktop {
	display: none;
}

.content {
	padding-top: 50px;
}

@media (#{$bp-larger-than-phablet}) {
	.header {
		height: 140px;
		background: #ffffff;
	}

	.header--logo svg {
		width: 200px;
		height: 60px;
		margin-top: 15px;
		margin-bottom: 15px;
		margin-left: auto;
		margin-right: auto;
	}

	.header--actions-link {
		line-height: 90px;
		padding: 0;
		svg {
			// padding-top: 25px;
			width: 50px;
			height: 50px;
		}
	}

	.header--actions-link__desktop {
		display: block;
	}

	.header--actions-link__mobile {
		display: none;
	}

	.content {
		padding-top: 140px;
	}
}
