.nav {
	height: 50px;
	background: $color-sjc-red;
	.container {
		background: $color-sjc-red;
		padding: 0 10px;
	}
	ul {
		list-style-type: none;
		margin-bottom: 0;
	}
	li {
		position: relative;
		display: block;
		float: left;
		margin-bottom: 0;
	}
	a, span {
		display: block;
		padding: 0 10px;
		height: 50px;
		line-height: 45px;
		color: $color-white;
		text-decoration: none;
		text-transform: uppercase;
	}
}
 
.menu {
	display: none;
}

a.menu--link,
span.menu--link {
	transition: 200ms all ease-in;
	cursor: pointer;
	&:hover {
		color: $color-sjc-red;
		background: $color-white;
	}
}

a.menu--link__icon {
	padding-top: 12px;
	height: 38px;
	line-height: 38px;
	transform: translateZ(0);
	transition: 200ms all ease-in;
	svg {
		transition: 200ms all ease-in;
		width: 30px;
		height: 30px;
		fill: $color-white;
	}
	&:hover,
	&:focus,
	&:active {
		background: $color-white;
		svg {
			fill: $color-sjc-red;
		}
		// animation-name: icon-drop;
		// animation-duration: 0.5s;
	 //    animation-delay: 0.1s;
	 //    animation-fill-mode: forwards;
	 //    animation-timing-function: ease-in-out;
		// animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	}
}

.mobile-menu-link {
	li {
		font-size: 2rem;
		height: 50px;
		line-height: 46px;
	}
}

.mobile-menu-link--close {
	display: block;
	position: absolute;
	top: -50px;
	right: 10px;
	font-size: 2.7rem;
	padding: 0 2rem;
	line-height: 45px;
	height: 50px;
	&:hover {
		color: $color-sjc-red;
		background: $color-white;
	}
}

.mobile-menu {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	transition: all 300ms ease-in;

	background: $color-sjc-red;
	text-align: center;
	ul {
		height: 73%;
		overflow-y: auto;
	}
	li { 
		list-style-type: none; 
		text-transform: uppercase;
		font-size: 2.5rem;
		padding: 1rem 0;
		margin: 0;
	}
	a { 
		color: $color-white;
		text-decoration: none; 
	}
}

.mobile-menu:target {
	opacity: 0.95;
	pointer-events: auto;
}


@media (#{$bp-larger-than-tablet}) {
	.mobile-menu-link {
		display: none;
	}
	.menu {
		display: block;
	}

	.nav a.submenu,
	.nav span.submenu {
		padding-right: 13px;
		&:after{
			content: " ";
			display: inline-block;
			height: 5px;
			width: 5px;
			border: 2px solid $color-white;
			border-left-color: transparent;
			border-top-color: transparent;
			margin-left: 5px;
    		margin-top: 5px;
    		margin-bottom: 2px;
			transform: rotate(-45deg);
			transition: 200ms all ease-in;
		}
		&:hover:after {
			border-right-color: $color-sjc-red;
			border-bottom-color: $color-sjc-red;
		}
	}

	ul.menu ul {
		display:none;
		position:absolute;
		top:100%;
		left:0;
		min-width: 100%;
		background:$color-sjc-red;
		color: $color-white;
		padding:0;
		margin: 0;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	}

	ul.menu ul li {
		float: none;
		width: 100%;
		white-space: nowrap;
	}

	ul.menu ul ul {
		top:0;
		left:100%
	}

	ul.menu li:hover > ul {
		display:block
	}

	ul.menu li:hover a.submenu,
	ul.menu li:hover span.submenu {
		&:after {
			margin-left: 5px;
			margin-bottom: 3px;
			margin-top: 7px;
			transform: rotate(45deg);
		}
	}
}