/*
 * Colours
 */

$color-sjc-red: #EA634F;
$color-sjc-darkred: #E0492E;
$color-sjc-orange: #F26722;
$color-sjc-lightorange: #fec670;
$color-sjc-tan: #FEC670;
$color-white: #ffffff;
$color-black: #000000;

// Skeleton overwrites
$light-grey: #cccccc;
$dark-grey: #333 !default;
$primary-color: $color-sjc-red;
$secondary-color: $color-sjc-orange;
$border-color: #bbb !default;
$link-color: $color-sjc-darkred;
$font-color: $color-black;

/*
 * Typography
 */ 

@font-face {
	font-family: 'Founders Grotesk';
	src: url('../fonts/FoundersGroteskTextWeb-Regular.eot');
	src: url('../fonts/FoundersGroteskTextWeb-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FoundersGroteskTextWeb-Regular.woff2') format('woff2'),
		url('../fonts/FoundersGroteskTextWeb-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Founders Grotesk';
	src: url('../fonts/FoundersGroteskTextWeb-Bold.eot');
	src: url('../fonts/FoundersGroteskTextWeb-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FoundersGroteskTextWeb-Bold.woff2') format('woff2'),
		url('../fonts/FoundersGroteskTextWeb-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

$font-family: 'Founders Grotesk', Arial, sans-serif;