@import "settings";
@import "skeleton";
@import "global";

body {
  background: linear-gradient(90deg, #6d6e70 0%, #7A7A7A 50%, #6d6e70 100%);
}

h1, h2, h3, h4, h5 {
  color: $color-sjc-red;
}

svg {
  fill: $color-sjc-red;
}

/* Component Styles */
@import "header";