.site-header {
	font-size: $font-size-default;
	
	.site-logo {
		text-align: center;

		.text {
			// visibility: hidden;
		}
	}

	.intro-text {
		font-size: 24px;
		text-align: center;
	}
}