// See Skeleton buttons for base styles in 
// bower_components/Skeleton-Sass/scss/modules/buttons

.button.button__large {
	font-size: 3.2rem;
	height: auto;
	line-height: initial;
	padding-top: 1.2rem;
	margin: 1rem auto 3rem;
}