// See Skeleton buttons for base styles in 
// bower_components/Skeleton-Sass/scss/modules/buttons


.button, button {
	border-width: 3px;
	border-color: transparent;
	background: $color-sjc-red;
	color: $color-white;
	transition: all 200ms ease-in;
}

.button:hover, button:hover,
.button:focus, button:focus,
.button:active, button:active {
	border-color: $color-sjc-red;
	background: $color-white;
	color: $color-sjc-red;
}

.button.button__large {
	font-size: 2rem;
	height: auto;
	line-height: initial;
	padding: 0.6rem 1.5rem 1rem;
	margin: 1rem auto 3rem;
	max-width: 100%;
}

@media (#{$bp-larger-than-tablet}) {
	.button.button__large {
		font-size: 3.2rem;
		height: auto;
		line-height: initial;
		padding: 0.6rem 2rem 1rem;
		margin: 1rem auto 3rem;
	}
}