

/******************/
/* Card component */
/******************/
.card--service {
	margin-bottom: 2.5rem;
}

// Reinstate if svgs no longer include their text
.card {
	margin-bottom: 2rem;
}

.card--service {
	height: 100px;
}

.card--icon {
	display: block;
	width: 70px;
	height: 70px;
	padding-right: 20px;
	svg {
		width: 70px;
		height: 70px;
	}
}

.card--text {
	display: block;
	margin-bottom: 0px;
    font-size: 3rem;
    line-height: 0.9em;
	font-weight: bold;
	color: $dark-grey;
	h3 {
		margin-bottom: 0;
	}
}


@media (#{$bp-larger-than-desktop}) {
	.card--icon {
		display: block;
		width: 100px;
		height: 100px;
		padding-right: 20px;
		svg {
			width: 100px;
			height: 100px;
		}
	}

	.card--text {
		margin-bottom: 8px;
	    font-size: 4.5rem;
	}
}

.flexbox {
	.card--service {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.card--icon,
	.card--text {

	}
}

.no-flexbox {
	.card--service {
		height: 100px;
		position: relative;
	}
	.card--icon,
	.card--text {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.card--text {
		left: 80px;
	}
}
/* /Card component */