
label {
	font-size: 2.2rem;
	font-weight: normal;
	margin-bottom: 0;
}
input, textarea {
	width: 100%;
	margin-bottom: 2rem;
}

input[type="submit"] {
	background: $color-sjc-red;
	color: $color-white;
	font-size: 2.0rem;
	line-height: 1rem;
	transition: 200ms all ease-in;
	border: 2px solid transparent;
}

input[type="submit"]:hover {
	background: $color-white;
	color: $color-sjc-red;
	border-color: $color-sjc-red;
}

// input[type="email"]:focus, 
// input[type="number"]:focus, 
// input[type="search"]:focus, 
// input[type="text"]:focus,
// input[type="tel"]:focus, 
// input[type="url"]:focus, 
// input[type="password"]:focus {
// 	border-color: $color-sjc-orange;
// }

button, input, optgroup, select, textarea {
	font-size: 1.8rem;
}

.option {
	margin-bottom: 1.5rem;
	input[type="checkbox"] {
		width: auto;
		float: left;
		margin: 0.8rem 1rem;
	}
}

.option-title {
	float: left;
}

// Contact form-specific styles
.contact-form {
	padding-bottom: 50px;
}

#contact--field__message {
	height: 210px;
}

#contact--field__dept {
	width: 100%;
}

@media (#{$bp-larger-than-tablet}) {
	.contact-form .columns div:last-child {
		& input,
		& select {
			margin-bottom: 0;	
		}
	}

	.flexbox .contact-form {
		display: flex;
		.columns {
			float: none;
			flex: 1;
		}
	}
}

.contact-form .column-two {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

// Newsletter form-specific styles
#mailing-list input[type="submit"] {
	margin-bottom: 0;
}
 
// Foster Care form-specific styles
#foster-care-form .modal--content {
	padding-bottom: 75px;
}