/* This stylesheet corresponds to app/templates/partials/modal.nunj */

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modal:target {
	opacity:1;
	pointer-events: auto;
}

.modal--content {
	position: relative;
	width: 90%;
	margin: 10% auto;
	padding: 20px;
	border-radius: 10px;
	background: #fff;
	background: linear-gradient(from top, #fff, #999);
	@media (#{$bp-larger-than-phablet}) {
		width: 400px;
	}
}

.modal--close {
	position: absolute;
	top: 20px;
	right: 20px;
	display: block;
	width: 20px;
	height: 20px;
	line-height: 25px;
	text-align: center;
	text-decoration: none;

}

.contact--link h3 {
	text-align: center;
}