

/******************/
/* Table component */
/******************/
table {
	border-collapse: collapse;
}

th, td {
	border: none;
	// height: 20px;
	padding: 5px;
}

th {
	background: $color-sjc-darkred;
	color: $color-white;
	padding-top: 10px
}

th:first-child,
td:first-child {
	padding-left: 15px;
}

th:last-child,
td:last-child {
	padding-right: 15px;
}

td.table--avatar {
	padding: 0;
	width: 75px;

	img {
		display: block;
		width: 75px;
		height: 75px;
	}
}

tr:nth-child(even) td {
	background: rgba($color-sjc-lightorange, 0.3);
}

tr td:hover {
	background: $color-sjc-red;
	color: $color-white;
}

@media (#{$bp-larger-than-tablet}) {
	th, td {
		padding: 12px 15px;
	}
	td.table--avatar {
		width: 150px;
		img {
			width: auto;
			height: auto;
		}
	}
}
/* /Table component */

table.board {
	// margin-left: -30px;
	// margin-right: 30px;
}