

/******************/
/* Table component */
/******************/
table {
	border-collapse: collapse;
}

th, td {
	border: none;
	// height: 20px;
	padding: 5px 15px;
	display: block;
}

th {
	background: $color-sjc-darkred;
	color: $color-white;
	padding-top: 10px
}

th:first-child,
td:first-child {
	padding-left: 15px;
}

th:last-child,
td:last-child {
	padding-right: 15px;
}

tr.table--row-border {
	display: block;
	margin-top: 15px;

	@media (#{$bp-larger-than-tablet}) {
		display: table-row;
	}
}

tr.table--member {
	font-size: 2.5rem;
	font-weight: bold;
	em {
		display: block;
		font-size: 1.5rem;
		color: $dark-grey;
	}
}

td.table--avatar {
	padding: 0;
	// width: 75px;
	vertical-align: top;
	text-align: center;
 
	img {
		// display: block;
		// width: 75px;
		// height: 75px;
	}
}

td.table--biography {
	background: $color-sjc-darkred;
	color: $color-white;
	font-weight: bold;
	font-size: 2rem;
}

td.table--title {
	font-size: 1.7rem;
}

tr.table--mobile-img {
	display: none;

	@media ("max-width: 400px") {
		display: table-row;
	}
}

tr:nth-child(even) td {
	background: rgba($color-sjc-lightorange, 0.3);
}

@media ("max-width: 400px") {
	td.table--avatar {
		display: none;
	}
}

@media (#{$bp-larger-than-tablet}) {
	th, td {
		padding: 5px 15px;
		display: table-cell;
	}
	td.table--avatar {
		width: 150px;
		img {
			// width: auto;
			// height: auto;
		}
	}
}
/* /Table component */

table.board {
	// margin-left: -30px;
	// margin-right: 30px;
}