lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build

_Archive
node_modules

.DS_Store
Icon
Icon?
Thumbs.db
._*
.Spotlight-V100
.Trashes
.idea

config/config.local.php

system/sys/expressionengine/cache/*
!system/sys/expressionengine/cache/index.html

system/backup/*
!system/backup/index.html

thumbs/
_thumbs/
sized/
made/
remote/

contents/_system/*
contents/general/*

!contents/_system/avatars/index.html
!contents/_system/captchas/index.html
!contents/_system/member_photos/index.html
!contents/_system/pm_attachments/index.html
!contents/_system/signature_attachments/index.html
!contents/_system/smileys/index.html
!contents/general/index.html

node_modules
tests
