// Define variables for common colors relating to branding, fonts, backgrounds and border styles here

$bg-color-1: #454545;
$bg-color-2: #ff0000;

$font-color-default: #111;
$font-color-1: #222;
$font-color-2: #333;

$border-style-1: 1px solid $font-color-1;